<% include partials/head %>

<div class="search-field" id="search-field">
   <h1>Bekijk alle kunstwerken van het Rijksmuseum!</h1>
   <p>Voer een zoekterm in
    <noscript>& druk op enter:</noscript></p>
    <form class="column" id="getUserQuery">
        <input name="q" type="text" id="user-input-field" autofocus required >
          <p id='zoek-opdracht'> Je zocht op: <strong><%= query%></strong></p>
    </form>
</div>

<article id="add-content">
  <% data.artObjects.map(function(obj) { %>
    <% if (obj.webImage) {%>
      <div class="media-item" id=<%= obj.objectNumber%>>
        <h1> <a href="/detail/<%=obj.objectNumber %>"><%= obj.principalOrFirstMaker %></a> </h1>
        <p><%= obj.title %></p>
        <img src="<%= obj.webImage.url %>" alt="<%= obj.title %>">
      </div>
    <% } %>
  <%});%>
</article>
<% include partials/foot %>
